/* GLOBAL */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: cadetblue;
}
/* COUNTING MAIN CONTAINER */
.game-board {
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding: 12px;
}
.points {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.game-status {
    display: flex;
    justify-content: center;
    font-size: large;
}
.game-options {
    display: flex;
    justify-content: center;
    gap: 22px;
}
.player, .computer, span {
    font-size: 20px;
}

.btn {
    width: 120px;
    height: 80px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}

/* POP UP PLAY AGAIN */

.pop-up {
    border: 2px solid black;
    width: 500px;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    background-color: darkgray;
    position: absolute;
    padding: 80px;
    border-radius: 12px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-pop-up {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}